@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-latin_cyrillic-regular.woff2") format("woff2");
}
ul{
  padding: 0 20px;
}
.wrapper {
  height: fit-content;
  display: inline-flex;
  justify-content: space-between;
}
.table-text {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 227, 227);
  z-index: 1;
  position: relative;
  
  padding:20px 40px;
}
.menu-box {
  
  height: 100v;
  background-color: #a3a3a3;
}
.menu-box:hover{
  transition: all .5s ease-out;
  opacity: .8;
  z-index: 2;
 
}
.menu {
  position:sticky;
    top: 0;
    left: 0;
  list-style: none;
  font-size: larger;
  font-weight: bold;
}

.icon{
    width: 20px;
}


.text-menu{
    display: none;
    text-align: center;
    
}
.edit:hover{
  background-color: rgb(58, 58, 58);
  transition: all .5s ease-out;
  border-radius: 10px;
  
}
.menu-box:hover .text-menu{
  display: block;
  padding: 0 10px 0 50px;
  transition: all 1s ease-out;
}
.edit:hover .menu-box{
  
  
  
}

.edit {
  font-size: medium;
  font-weight: normal;
  display: inline-flex;
  justify-content: center;
  transition: all 1s ease-out;
}
.favorite {
  font-size: medium;
  font-weight: normal;
}
.histiry {
  font-size: medium;
  font-weight: normal;
}
.security {
  font-size: medium;
  font-weight: normal;
}
.settings {
  font-size: medium;
  font-weight: normal;
}
.title {
  
}
.text {
  margin: 0 auto;
}
.link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.link-text {
  padding-top: 50px;
  font-size: larger;
}
