body {
  background-color: rgb(228, 227, 227);
  font-family: "Inter";
}
ul {
  padding: 0 20px;
}
.wrapper {
  height: fit-content;
  display: inline-flex;
  justify-content: space-between;
}
.table-text {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px 40px;
}
.menu-box {
  position: fixed;
  height: 100%;
  background-color: #a3a3a3;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out;
}
.menu-box:hover {
  transition: all 0.5s ease-out;
  opacity: 0.6;
  padding-right: 100px;
}
.menu {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.icon {
  width: 20px;
}

.text-menu {
  display: none;
  text-align: center;
  transition: all 1s ease-out;
  padding: 0 10px 0 50px;
}

.edit:hover {
  background-color: rgb(185, 185, 185);
  transition: all 0.5s ease-out;
  border-radius: 10px;
  
}

.menu-box:hover .text-menu {
  display: flex;
  transition: all 1s ease-out;
}

.edit {
  height: 100px;
  align-items: center;
  font-size: medium;
  font-weight: normal;
  display: inline-flex;
  justify-content: space-around;
  transition: all 1s ease-out;
  padding-left: 10px;
}

.favorite {
  font-size: medium;
  font-weight: normal;
}
.histiry {
  font-size: medium;
  font-weight: normal;
}
.security {
  font-size: medium;
  font-weight: normal;
}
.settings {
  font-size: medium;
  font-weight: normal;
}
.title {
  margin: 30px 40px 30px 40px;
}
.text {
  margin: 0 40px 0 40px;
}
.link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.link-text {
  font-size: larger;
}
.link-text:hover {
  opacity: 0.5;
}
